@{
    ViewBag.Title = "Index";
}

<h2>CRUD</h2>

<div>
        <h5>Rad s podatcima</h5>
            Pregled, unos, izmjena i brisanje podataka u tablicama:<br /><br />
                <a href="/CRUD/CreateFaculty">@Resources.Resources.EnterFaculty</a><br />
                <a href="/CRUD/CreateUniversity">@Resources.Resources.EnterUniversity</a><br />
                <a href="/CRUD/CreateSpecialization">@Resources.Resources.EnterSpecialization</a><br />
                <a href="/Country">država_tekst</a><br />
                <a href="/City">grad_tekst</a><br />
                <a href="/Faculty">fakultet</a><br />
                <a href="/FacultyText">fakultet_tekst</a><br />
                <a href="/University">sveučilište</a><br />
                <a href="/UniversityText">sveučilište_tekst</a><br />
                <a href="/DegreeSpecialization">stupanj_smjer</a><br />
                <a href="/Specialization">smjer</a><br />
                <a href="/SpecializationText">smjer_tekst</a>
        </div>
        <br /><br /><br /><br />