@{
    ViewBag.Title = "Index";
}

<h2>CRUD</h2>

<div>
            <h5>Rad s podatcima</h5>
            Pregled, unos, izmjena i brisanje podataka u tablicama:(<a href="/Country">država_tekst</a>, <a href="/City">grad_tekst</a>, <a href="/Faculty">fakultet</a>, <a href="/FacultyText">fakultet_tekst</a>, <a href="/University">sveučilište</a>, <a href="/UniversityText">sveučilište_tekst, <a href="/DegreeSpecialization">stupanj_smjer</a>, <a href="/Specialization">smjer</a>, <a href="/SpecializationText">smjer_tekst</a>)
        </div>
        <br /><br /><br /><br />