@{
    ViewBag.Title = "Index";
}

<h1>@Resources.Resources.Where2StudyTeam</h1>

<img class="img" src="/content/Images/w2steam.jpg" alt="Where 2 Study Team" style="width:80%;height:50em">

<div class="center">
    Opisni tekst...    
</div>

<h2>Maja Popadić</h2>

<img src="/content/Images/maja.jpg" alt="Maja Popadić" style="width:80%;height:20em;width:auto">

<div>
    Opisni tekst...
</div>

<h2>Luka Loina</h2>

<img class="img" src="/content/Images/luka.jpg" alt="Luka Loina" style="width:80%;height:20em;width:auto">

<div>
    Opisni tekst...
</div>

<h2>Roman Lenart</h2>

<img class="img" src="/content/Images/roman.jpg" alt="Roman Lenart" style="width:80%;height:20em;width:auto">

<div>
    - backend developer, poznajem MSSQL, .Net (Visual Basic, C#), Eclipse (Java), Rails (Ruby), te se lako snalazim i brzo učim nove tehnologije. Znam i dijagnosticirati bilo koji kvar na računalu, te popraviti većinu. Hobiji: internet, 
    gaming, TCG, tenis, trčanje, filmovi, serije, reality TV...
</div>
